.HabitCard.Header {
    display: flex!important;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.HabitCard.ActionIcon {
    margin-left: auto;
}

.HabitCard.Details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.HabitCard.Details > div.EditHabitForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EditHabitForm.HabitCard.Details {
    flex-direction: column;
}

.HabitCard.Details > div.EditHabitForm > div {
    display: flex;
    justify-content: center;
    align-items: center;

}