.HabitCard.Header {
    display: flex!important;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.HabitCard.ActionIcon {
    margin-left: auto;
}

.HabitCard.Details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.HabitCard.Details.EditHabitForm{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
}

.HabitCard.Details > div.EditHabitForm .checkbox {
    margin-right: 5px;
}


.EditHabitForm.HabitCard.Details {
    flex-direction: column;
}

.HabitCard.Details > div.EditHabitForm > div {
    display: flex;
    justify-content: center;
    align-items: center;

}