.SkillTree div.ui {
    transition: all .4s;
}

.SkillTree.main {
    text-align: left;
    border-radius: 10px!important;
}

.SkillTree.main .subskill {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.SkillTree.header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.SkillTree.header:not(.default) > *:last-child {
    margin-left: auto;
}

.SkillTree > h3, .SkillTree > h5{
    padding: 0px;
    margin: 0px;
}

.SkillTree .ui.segment {
    padding-right: 0;
}
