.SkillTree div.ui {
    transition: all .4s;
}

.SkillTree.main {
    text-align: left;
}

.SkillTree.header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}
.SkillTree.header > *:last-child {
    margin-left: auto;
}

.SkillTree > h3, .SkillTree > h5{
    padding: 0px;
    margin: 0px;
}

.SkillTree .ui.segment {
    padding-right: 0;
    transition: all .4s;
}

.SkillTree .ui.form {
    padding-right: 1em;
}